@page
@model IndexModel
@{
    ViewData["Title"] = "File manager";
}

<div class="container" style="margin-top: 100px">
    <div id="elfinder"></div>
</div>

@section scripts {
    <script type="text/javascript">
        // Documentation for client options:
        // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
        $(document).ready(function () {
            const disableContextMenu = ['hide'];
            const contextMenu = elFinder.prototype._options.contextmenu;
            contextMenu.navbar = contextMenu.navbar.filter(o => !disableContextMenu.includes(o));
            contextMenu.cwd = contextMenu.cwd.filter(o => !disableContextMenu.includes(o));
            contextMenu.files = contextMenu.files.filter(o => !disableContextMenu.includes(o));

            //const appCmds = ['open', ...];
            const appCmds = elFinder.prototype._options.commands;
            elFinder.prototype.i18.en.messages.TextArea = "Edit";

            var options = {
                url: '/api/files/connector', // Default (Local File System)
                rememberLastDir: false, // Prevent elFinder saving in the Browser LocalStorage the last visited directory
                commands: appCmds,
                //lang: 'pt_BR', // elFinder supports UI and messages localization. Check the folder Content\elfinder\js\i18n for all available languages. Be sure to include the corresponding .js file(s) in the JavaScript bundle.
                uiOptions: { // UI buttons available to the user
                    toolbar: [
                        ['back', 'forward'],
                        ['reload'],
                        ['home', 'up'],
                        ['mkdir', 'mkfile', 'upload'],
                        ['open', 'download'],
                        ['undo', 'redo'],
                        ['info'],
                        ['quicklook'],
                        ['copy', 'cut', 'paste'],
                        ['rm'],
                        ['duplicate', 'rename', 'edit'],
                        ['selectall', 'selectnone', 'selectinvert'],
                        ['view', 'sort'],
                        ['search']
                    ]
                },
                contextmenu: contextMenu,
                lang: 'vi',
                requestType: 'post',
                //onlyMimes: ["image", "text/plain"] // Get files of requested mime types only
            };

            $('#elfinder').elfinder(options).elfinder('instance');

            //$.ajax({
            //    url: '/lib/elfinder/js/i18n/elfinder.vi.js',
            //    cache: true,
            //    dataType: 'script'
            //}).done(function () {
            //    $('#elfinder').elfinder(options).elfinder('instance');
            //});
        });
    </script>
}